.env
.env.testing
.php-cs-fixer.cache
.phpcs.cache
.phpunit.cache
infection.json5
infection.log
node_modules
npm-debug.log
public/coverage
public/css/app.css
public/css/app.css.map
public/hot
public/infection.html
public/js/app.js
public/js/app.js.map
public/storage
storage/*.key
storage/framework/db.sqlite
storage/framework/db.sqlite-journal
vendor
yarn-error.log
