includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    checkGenericClassInNonGenericObjectType: false
    exceptions:
        check:
            tooWideThrowType: true
    level: 8
    paths:
        - %currentWorkingDirectory%/app
        - %currentWorkingDirectory%/data
        - %currentWorkingDirectory%/tests
    polluteScopeWithAlwaysIterableForeach: false
    reportMaybesInPropertyPhpDocTypes: false
    treatPhpDocTypesAsCertain: false
