includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - %currentWorkingDirectory%/app
        - %currentWorkingDirectory%/tests
    level: 8
