includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    paths:
        - %currentWorkingDirectory%/app
        - %currentWorkingDirectory%/data
        - %currentWorkingDirectory%/tests
    level: 8
    treatPhpDocTypesAsCertain: false
    polluteScopeWithAlwaysIterableForeach: false
    exceptions:
        check:
            tooWideThrowType: true
