<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    bootstrap="phpunit-bootstrap.php"
    colors="true"
    enforceTimeLimit="true"
    executionOrder="random"
    timeoutForSmallTests="5"
    timeoutForMediumTests="15"
    timeoutForLargeTests="120"
    cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Modules">
            <directory suffix="Test.php">./Modules/*/tests</directory>
        </testsuite>
    </testsuites>
    <coverage/>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_NAME" value="Commlink - Test"/>
        <server name="APP_URL" value="http://localhost"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DATA_URL" value="data/"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="LOG_CHANNEL" value="null"/>
        <server name="MONGO_CONNECTION" value="mongo-test"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="PENNANT_STORE" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">./app</directory>
            <directory suffix=".php">./Modules</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Features</directory>
            <directory suffix=".php">./Modules/*/data</directory>
            <directory suffix=".php">./Modules/*/database</directory>
            <directory suffix=".php">./Modules/*/resources</directory>
            <directory suffix=".php">./Modules/*/tests</directory>
        </exclude>
    </source>
</phpunit>
