openapi: 3.0.3
info:
  title: Commlink
  description: |-
    Commlink is a tool for playing role playing games online, providing a
    character generator, campaign manager, dice roller, and more.
  contact:
    email: omni@digitaldarkness.com
  license:
    name: MIT License
    url: https://mit-license.org/
  version: 1.8.0
externalDocs:
  description: Find out more about Commlink
  url: https://commlink.digitaldarkness.com/about
security:
  - BearerAuth: []
servers:
  - url: https://commlink.digitaldarkness.com/api
  - url: https://commlink-dev.digitaldarkness.com/api
tags:
  - name: avatar
    description: Avatar RPG
  - name: blistercritters
    description: Blister Critters RPG
  - name: campaign
    description: Information for gamemasters
  - name: capers
    description: Capers RPG
  - name: character
    description: Everything about characters, in whatever system
  - name: cyberpunkred
    description: Cyberpunk Red RPG
  - name: dnd5e
    description: Dungeons and Dragons
  - name: events
    description: Real life events for a campaign
  - name: expanse
    description: Expanse RPG
  - name: integration
    description: Resource for interacting with other services
  - name: interactivity
    description: Commlink's interactive functions
  - name: meta
    description: Information about the service itself
  - name: shadowrun
    description: Shadowrun RP
  - name: startrekadventures
    description: Star Trek Adventures RPG
  - name: subversion
    description: Subversion RPG
  - name: transformers
    description: Old Transformers RPG
  - name: user
    description: Operations about users

paths:
  /avatar/characters:
    get:
      summary: Avatar RPG characters
      operationId: avatar-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/AvatarCharacter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of the user's Avatar characters.
      tags:
        - avatar
  /blistercritters/characters:
    get:
      summary: Blister Critters RPG characters
      operationId: blistercritters-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/BlistercrittersCharacter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of the user's Blister Critters characters.
      tags:
        - blistercritters
  /capers/characters:
    get:
      summary: Capers RPG characters
      operationId: capers-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersCharacter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of the user's Capers characters.
      tags:
        - capers
  /capers/gear:
    get:
      summary: Capers RPG gear
      operationId: capers-gear-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersGear'
                    type: array
                required:
                  - data
                type: object
          description: Collection of gear that characters can buy.
      tags:
        - capers
  /capers/identities:
    get:
      summary: Capers RPG identity
      operationId: capers-identity-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersCardChoice'
                    type: array
                required:
                  - data
                type: object
          description: Collection of identities that characters can have.
      tags:
        - capers
  /capers/powers:
    get:
      summary: Capers RPG powers
      operationId: capers-powers-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersPower'
                    type: array
                required:
                  - data
                type: object
          description: Collection of powers that characters can have.
      tags:
        - capers
  /capers/skills:
    get:
      summary: Capers RPG skills
      operationId: capers-skills-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersSkill'
                    type: array
                required:
                  - data
                type: object
          description: Collection of skills that characters can have.
      tags:
        - capers
  /capers/vices:
    get:
      summary: Capers RPG vices
      operationId: capers-vices-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersCardChoice'
                    type: array
                required:
                  - data
                type: object
          description: Collection of vices that characters can have.
      tags:
        - capers
  /capers/virtues:
    get:
      summary: Capers RPG virtues
      operationId: capers-virtues-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CapersCardChoice'
                    type: array
                required:
                  - data
                type: object
          description: Collection of virtues that characters can have.
      tags:
        - capers
  /campaigns:
    get:
      summary: Return all campaigns for the user
      description: |
        Return all campaigns for a user, including registered, GMed, and those
        they play in.
      operationId: campaigns-index
      responses:
        '200':
          description: Collection of campaigns.
          content:
            application/json:
              schema:
                example:
                  data:
                    - characters:
                        - id: '65776d7c77223955eee96ec1'
                          name: 'Conan the Agrarian'
                          owner:
                            id: 42
                            name: 'Mike F'
                          links:
                            self: '/characters/cyberpunkred/65776d7c77223955eee96ec1'
                      description: |
                        Low-level campaign for fun, Chooms. Still looking for a
                        GM.
                      id: 3
                      gm: null
                      name: 'Night City Rejects'
                      options:
                        nightCityTarot: true
                      players:
                        - id: 6
                          name: 'Bob K'
                          status: 'invited'
                        - id: 99
                          name: 'Phil S'
                          status: 'accepted'
                      registered_by:
                        id: 42
                        name: 'Mike F'
                      system: 'cyberpunkred'
                      links:
                        self: '/campaigns/3'
                  links:
                    collection: '/campaigns'
                    root: '/'
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CampaignFull'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
      tags:
        - campaign
  /campaigns/{campaign_id}:
    parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Soft-delete a campaign
      operationId: campaigns-destroy
      responses:
        '204':
          description: The campaign has been deleted.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
      tags:
        - campaign
    get:
      summary: Return a single campaign
      operationId: campaigns-show
      responses:
        '200':
          description: Single campaign.
          content:
            application/json:
              schema:
                example:
                  data:
                    characters:
                      - id: '65776d7c77223955eee96ec1'
                        name: 'Conan the Agrarian'
                        owner:
                          id: 42
                          name: 'Mike F'
                        links:
                          self: '/characters/cyberpunkred/65776d7c77223955eee96ec1'
                    description: |
                      Low-level campaign for fun, Chooms. Still looking for a GM.
                    id: 3
                    gm: null
                    name: 'Night City Rejects'
                    options:
                      nightCityTarot: true
                    players:
                      - id: 6
                        name: 'Bob K'
                        status: 'invited'
                      - id: 99
                        name: 'Phil S'
                        status: 'accepted'
                    registered_by:
                      id: 42
                      name: 'Mike F'
                    system: 'cyberpunkred'
                  links:
                    self: '/campaigns/3'
                    collection: '/campaigns'
                properties:
                  data:
                    $ref: '#/components/schemas/CampaignFull'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
      tags:
        - campaign
    patch:
      summary: Update a campaign
      operationId: campaigns-update
      requestBody:
        content:
          application/json:
            schema:
              properties:
                currentDate:
                  format: date
                  type: string
              type: object
            example:
              currentDate: '2080-04-04'
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
            example:
              - op: 'replace'
                path: '/options/currentDate'
                value: '2080-04-04'
      responses:
        '202':
          description: The campaign has been updated.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/CampaignFull'
                  - type: object
                    properties:
                      formatted_date:
                        format: date
                        type: string
        '400':
          $ref: '#/components/responses/ErrorBadRequest'
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '422':
          $ref: '#/components/responses/ErrorUnprocessableContent'
      tags:
        - campaign
  /campaigns/{campaign_id}/events:
    parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Return all events for a given campaign
      description: Returns in-game events.
      operationId: events-indexForCampaign
      parameters:
        - name: future
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Collection of zero or more campaign events.
          content:
            application/json:
              schema:
                example:
                  data:
                    - campaign:
                        id: 123
                        name: 'Campaign X'
                      created_by:
                        name: 'Bob King'
                        id: 31
                      description: 'Set up our shiny new campaign, captain!'
                      game_end: null
                      game_start: null
                      id: 99
                      name: 'Session Zero'
                      real_end: '2023-12-20T03:00:00Z'
                      real_start: '2023-12-20T01:00:00Z'
                      response: 'Accepted'
                      links:
                        self: /events/99
                        collection: /campaigns/123/events
                        root: /
                        campaign: /campaigns/123
                  links:
                    campaign: /campaigns/123
                    self: /campaigns/123/events
                    root: /
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Event'
                    type: array
                  links:
                      $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
      tags:
        - campaign
        - events
    post:
      summary: Create a new campaign event
      description: |
        Create a new event for the given campaign, like an upcoming game.
      operationId: events-store
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Optional description of the event.
                  nullable: true
                  type: string
                game_end:
                  description: |
                    Optional date (optionally with time) the session runs
                    through in the game world.
                  format: datetime
                  nullable: true
                  type: string
                game_start:
                  description: |
                    Optional date (optionally with time) the session starts in
                    the game world.
                  format: datetime
                  nullable: true
                  type: string
                name:
                  description: |
                    What you want to call the event. Defaults to the event's
                    start time.
                  type: string
                real_end:
                  description: |
                    Optional date and time the event is scheduled to end, in the
                    real world.
                  format: datetime
                  nullable: true
                  type: string
                real_start:
                  description: |
                    Date and time the event is scheduled to start (in the real
                    world).
                  format: datetime
                  nullable: true
                  type: string
              required:
                - real_start
        required: true
      responses:
        '201':
          description: Campaign event was created.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Event'
                    type: array
                  links:
                      $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
      tags:
        - campaign
        - events
  /campaigns/{campaign_id}/initiatives:
    parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: End combat
      description: Remove the initiatives for the campaign (end combat).
      operationId: initiatives-truncate
      responses:
        '204':
          description: All initiatives were removed.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
      tags:
        - campaign
        - interactivity
    get:
      summary: Get a campaign's initiative list
      description: Return all of the current initiatives for the campaign.
      operationId: initiatives-index
      responses:
        '200':
          description: Collection of the campaign's combatants.
          content:
            application/json:
              schema:
                properties:
                  initiatives:
                    items:
                      $ref: '#/components/schemas/Initiative'
                    type: array
                type: object
        '401':
          description: The request is for a campaign the request isn't the GM for.
      tags:
        - campaign
        - interactivity
    post:
      summary: Add an NPC to combat
      description: |
        Add an NPC to combat. Requires either `initiative` (set the character's
        initiative to this value) or `base_initiative` AND `initiative_dice`
        (roll the number of dice, add the base, and set the character's
        initiative to that). Also allows a `grunt_id` for upcoming addition of
        mook support.
      operationId: initiatives-store
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                base_initiative:
                  type: integer
                initiative:
                  type: integer
                initiative_dice:
                  type: integer
                character_name:
                  type: string
                grunt_id:
                  type: string
              required:
                - character_name
              type: object
      responses:
        '201':
          description: NPC was successfully added to combat.
        '401':
          description: Request is for a campaign the requestor isn't the GM for.
      tags:
        - campaign
        - interactivity
  /campaigns/{campaign_id}/initiatives/{initiative_id}:
    parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
      - name: initiative_id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Remove a combatant
      description: |
        Remove the given initiative from the list, removing a character from
        combat.
      operationId: initiatives-destroy
      responses:
        '204':
          description: The initiative was removed.
        '401':
          description: Request is for a campaign the requestor isn't the GM for.
      tags:
        - campaign
        - interactivity
    get:
      summary: Get an initiative
      description: Return a single initiative record.
      operationId: initiatives-show
      responses:
        '200':
          description: Initiative for an encounter.
          content:
            application/json:
              schema:
                properties:
                  initiatives:
                    $ref: '#/components/schemas/Initiative'
                required:
                  - initiatives
                type: object
        '401':
          description: Request is for a campaign the requestor isn't the GM for.
      tags:
        - campaign
        - interactivity
    put:
      summary: Update an initiative
      description: Update the given initiative record.
      operationId: initiatives-update
      responses:
        '200':
          description: Initiative was updated.
        '401':
          description: Request is for a campaign the requestor isn't the GM for.
      tags:
        - campaign
        - interactivity
  /campaigns/{campaign_id}/invite:
    parameters:
      - name: campaign_id
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Invite a user to the campaign
      description: Tries to invite a user to the given campaign.
      operationId: campaigns-invite
      requestBody:
        content:
          application/json:
            schema:
              properties:
                email:
                  format: email
                  type: string
                name:
                  type: string
              required:
                - email
                - name
      responses:
        '201':
          description: Invite has been created.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CampaignInvitation'
                  links:
                    $ref: '#/components/schemas/Links'
                  meta:
                    properties:
                      user:
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                          - id
                          - name
                        type: object
                      status:
                        type: string
                    required:
                      - status
                    type: object
                required:
                  - data
                  - links
        '400':
          description: User is the GM.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '409':
          description: User has already been invited or is already playing.
      tags:
        - campaign
  /channels/{channel_id}:
    parameters:
      - name: channel_id
        in: path
        required: true
        schema:
          type: integer
    patch:
      summary: Update a channel
      description: Configure a channel's webhook.
      operationId: channels-update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/WebhookAuto'
                - $ref: '#/components/schemas/WebhookUrl'
      responses:
        '200':
          description: Channel was updated.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '422':
          $ref: '#/components/responses/ErrorUnprocessableContent'
      tags:
        - interactivity
  /cyberpunkred/characters:
    get:
      summary: Cyberpunk Red characters
      description: Return Cyberpunk Red characters.
      operationId: cyberpunkred-characters-index
      responses:
        '200':
          description: |
            Collection of all Cyberpunk Red characters for the current user.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/CyberpunkredCharacter'
                    type: array
                required:
                  - data
                type: object
      tags:
        - character
        - cyberpunkred
  /cyberpunkred/characters/{character_id}:
    parameters:
      - name: character_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Return a Cyberpunk Red character
      description: Return Cyberpunk Red characters.
      operationId: cyberpunkred-characters-show
      responses:
        '200':
          description: A Cyberpunk Red character
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/CyberpunkredCharacter'
                required:
                  - data
                type: object
      tags:
        - character
        - cyberpunkred
  /dnd5e/characters:
    get:
      summary: Dungeons and Dragons 5E characters
      description: Return all D&D 5E characters owned by the current user.
      operationId: dnd5e-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Dnd5eCharacter'
                    type: array
          description: Collection of D&D 5E characters.
      tags:
        - character
        - dnd5e
  /events:
    get:
      summary: Collection of the user's events.
      description: Collection of events the user's campaigns have scheduled.
      operationId: events-index
      parameters:
        - name: campaign_id
          description: Only return events for a single campaign.
          in: query
          schema:
            type: integer
        - name: future
          description: Only return events in the future.
          in: query
          schema:
            type: boolean
        - name: response[]
          description: Only return events with the given response statuses.
          in: query
          schema:
            items:
              enum:
                - accepted
                - declined
                - tentative
                - unknown
              type: string
            type: array
      responses:
        '200':
          description: Collection of user's events.
          content:
            application/json:
              schema:
                example:
                  data:
                    - campaign:
                        id: 123
                        name: 'Knights of the Round Table'
                      created_by:
                        id: 31
                        name: 'Bob King'
                      description: 'Set up our shiny new campaign, captain!'
                      game_end: null
                      game_start: null
                      id: 99
                      name: 'Session Zero'
                      real_end: '2023-12-20T03:00:00Z'
                      real_start: '2023-12-20T01:00:00Z'
                      responses:
                        - user_name: 'Bob King'
                          user_id: 2
                          response: 'accepted'
                        - user_name: 'Fake Tiger'
                          user_id: 42
                          response: 'declined'
                  links:
                      self: '/events/99'
                      collection: '/campaigns/123/events'
                      root: '/'
                      campaign: '/campaigns/123'
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Event'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
      tags:
        - events
  /events/{event_id}:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Cancel an event.
      operationId: events-destroy
      responses:
        '204':
          description: |
            The event has been deleted, even if it has already been deleted
            previously.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - events
    get:
      summary: Returns a single event.
      operationId: events-show
      responses:
        '200':
          description: Single event.
          content:
            application/json:
              schema:
                example:
                  data:
                    campaign:
                      id: 123
                      name: 'Bullets and boulders'
                    created_at: '2023-11-19T01:00:00Z'
                    created_by:
                      name: 'Bob King'
                      id: 31
                    description: 'Set up our shiny new campaign, captain!'
                    game_end: null
                    game_start: null
                    id: 99
                    name: 'Session Zero'
                    real_end: '2023-12-20T03:00:00Z'
                    real_start: '2023-12-20T01:00:00Z'
                    responses:
                      - response: 'accepted'
                        user_id: 31
                        name: 'Bob King'
                      - response: 'declined'
                        user_id: 13
                        name: 'Phil McCracken'
                  links:
                    self: /events/99
                    collection: /campaigns/123/events
                    root: /
                    campaign: /campaigns/123
                properties:
                  data:
                    $ref: '#/components/schemas/Event'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - events
    patch:
      summary: Update part of an event.
      description: |
        If "application/json" is sent as the Content-Type, all fields are
        optional. Any fields not sent are left as-is. Fields sent as null are
        removed (unless required, such as the real_start field).

        If "application/json-patch+json" is sent as the Content-Type, the
        request follows JSON Patch rules.
      operationId: events-patch
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Optional description of the event.
                  nullable: true
                  type: string
                game_end:
                  description:
                    Optional date (optionally with time) the session runs
                    through in the game world.
                  format: datetime
                  nullable: true
                  type: string
                game_start:
                  description: |
                    Optional date (optionally with time) the session starts in
                    the game world.
                  format: datetime
                  nullable: true
                  type: string
                name:
                  description: |
                    What you want to call the event. Defaults to the event's
                    start time.
                  nullable: true
                  type: string
                real_end:
                  description: |
                    Optional date and time the event is scheduled to end, in the
                    real world.
                  format: datetime
                  nullable: true
                  type: string
                real_start:
                  description: |
                    Date and time the event is scheduled to start (in the real
                    world).
                  format: datetime
                  nullable: true
                  type: string
          application/json-patch+json:
            schema:
              items:
                $ref: '#/components/schemas/JsonPatchOperation'
              type: array
      responses:
        '202':
          description: Event has been updated.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '409':
          $ref: '#/components/responses/ErrorConflict'
      tags:
        - events
    put:
      summary: Update an event
      operationId: events-put
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: Optional description of the event.
                  nullable: true
                  type: string
                game_end:
                  description: |
                    Optional date (optionally with time) the session runs
                    through in the game world.
                  format: datetime
                  nullable: true
                  type: string
                game_start:
                  description: |
                    Optional date (optionally with time) the session starts in
                    the game world.
                  format: datetime
                  nullable: true
                  type: string
                name:
                  description: |
                    What you want to call the event. Defaults to the event's
                    start time.
                  type: string
                real_end:
                  description: |
                    Optional date and time the event is scheduled to end, in the
                    real world.
                  format: datetime
                  nullable: true
                  type: string
                real_start:
                  description: |
                    Date and time the event is scheduled to start (in the real
                    world).
                  format: datetime
                  nullable: true
                  type: string
              required:
                - real_start
      responses:
        '202':
          description: Event has been updated.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
        '409':
          $ref: '#/components/responses/ErrorConflict'
      tags:
        - events
  /events/{event_id}/rsvp:
    parameters:
      - name: event_id
        in: path
        required: true
        schema:
          type: string
    delete:
      summary: Remove my RSVP for an event
      operationId: events-deleteRsvp
      responses:
        '204':
          description: The RSVP was deleted (marked as 'tentative').
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - events
    get:
      summary: Get my RSVP for an event
      operationId: events-getRsvp
      responses:
        '200':
          description: RSVP for the event.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      event:
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                          - id
                          - name
                        type: object
                      response:
                        $ref: '#/components/schemas/EventResponse'
                    type: object
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - events
    put:
      summary: RSVP to the event
      operationId: events-updateRsvp
      requestBody:
        content:
          application/json:
            schema:
              properties:
                response:
                  $ref: '#/components/schemas/EventResponse'
              required:
                - response
              type: object
      responses:
        '202':
          description: RSVP was recorded.
          content:
            application/json:
              schema:
                properties:
                  data:
                    properties:
                      event:
                        properties:
                          id:
                            type: integer
                          name:
                            type: string
                        required:
                          - id
                          - name
                        type: object
                      response:
                        $ref: '#/components/schemas/EventResponse'
                    type: object
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - events
  /expanse/backgrounds:
    get:
      summary: Expanse RPG character backgrounds
      description: |
        Collection of all backgrounds available to player characters in The
        Expanse.
      operationId: expanse-backgrounds-index
      responses:
        '200':
          description: Collection of Expanse RPG backgrounds
          content:
            application/json:
              schema:
                properties:
                  links:
                    $ref: '#/components/schemas/Links'
                  data:
                    items:
                      $ref: '#/components/schemas/ExpanseBackground'
                    type: array
      tags:
        - expanse
  /expanse/characters:
    get:
      summary: Expanse RPG characters
      description: Return Expanse RPG characters.
      operationId: expanse-characters-index
      responses:
        '200':
          description: Collection of the user's Expanse characters.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpanseCharacter'
                    type: array
                required:
                  - data
                type: object
      tags:
        - character
        - expanse
  /expanse/conditions:
    get:
      summary: Expanse RPG conditions
      description: All supported Expanse RPG conditions.
      operationId: expanse-conditions-index
      responses:
        '200':
          description: |
            Collection of conditions that can affect an Expanse character.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpanseCondition'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
      tags:
        - expanse
  /expanse/focuses:
    get:
      summary: Expanse RPG focuses
      operationId: expanse-focuses-index
      responses:
        '200':
          description: Collection of focuses a character may have.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpanseFocus'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
      tags:
        - expanse
  /expanse/social-classes:
    get:
      summary: Expanse RPG social classes
      operationId: expanse-socialClasses-index
      responses:
        '200':
          description: Description of the social class a character may come from.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpanseSocialClass'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
      tags:
        - expanse
  /expanse/talents:
    get:
      summary: Expanse RPG talents
      operationId: expanse-talents-index
      responses:
        '200':
          description: Description of talents a character may possess.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/ExpanseTalent'
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
      tags:
        - expanse
  /fakes/names:
    get:
      summary: Generate some fake names
      operationId: fake-names-index
      parameters:
        - name: quantity
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Collection of fake names.
          content:
            application/json:
              example:
                data:
                  - Christian Waters
                  - Francisco Bailey
                  - Raymond Gomez
                links:
                  self: '/fakes/names'
                  root: '/'
              schema:
                properties:
                  data:
                    items:
                      type: string
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
      tags:
        - interactivity
  /healthz:
    get:
      summary: Check health of the server
      operationId: healthz-index
      responses:
        '200':
          description: The server is operating normally.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: One or more parts of the service are not running.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
      tags:
        - meta
  /roll:
    options:
      summary: Slack roll health check
      description: |
        Verify that the resource is alive. Note - This should be renamed to
        '/slack'.
      operationId: slack-options
      responses:
        '200':
          description: Resource is alive.
          content:
            text/html:
              example: OK
      tags:
        - integration
    post:
      summary: Handle a Slack roll
      description: |
        Handle a roll from [a slash-command on
        Slack](https://api.slack.com/interactivity/slash-commands). A "roll" may
        be more than just rolling dice, it can be registering a Slack user,
        flipping a coin, or anything shown in `/roll help`. Note - This should
        be renamed to '/slack'.
      operationId: slack-post
      parameters:
        - name: X-Slack-Request-Timestamp
          description: Time Slack thinks the message was sent to Commlink.
          in: header
          required: true
          schema:
            type: integer
        - name: X-Slack-Signature
          description: Signature of the request to verify.
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                channel_id:
                  type: string
                team_id:
                  type: string
                text:
                  type: string
                user_id:
                  type: string
              type: object
      security:
        - SlackKeyAuth: []
      responses:
        '200':
          description: |
            The command succeeded, the roll's results are returned. Or, the
            command failed in a way that should be shown to the user. This
            response is differently formed than the rest of Commlink's API since
            it is meant to be consumed by Slack.
          content:
            application/json:
              schema:
                properties:
                  response_type:
                    enum:
                      - ephemeral
                      - in_channel
                    type: string
                  attachments:
                    items:
                      type: object
                    type: array
                type: object
      tags:
        - integration
  /rolls:
    post:
      summary: Roll some randomness
      description: |
        (Proposed) Roll some dice, flip a coin, pick a card, etc. Note - This
        should be renamed to '/roll' when the current one gets renamed for
        Slack.
      operationId: proposed-rolls-post
      requestBody:
        required: true
        content:
          application/json:
            examples:
              Capers-Draw:
                summary: Capers - Draw card
                description: Draw a card from the character's deck.
                value:
                  character_id: 64cabf032ad4d330c29bb82a
                  system: capers
                  text: draw
              CyberpunkRed-Generic:
                summary: Cyberpunk Red - Generic roll
                description: |
                  Roll a d10, adding `7` to it, and saying the roll is for
                  `negotiation`. If the die rolls a 1, roll another and subtract
                  the result (critical failure). If the die is a 10, roll
                  another and add the result (critical success).
                value:
                  system: cyberpunkred
                  text: 7 negotiation
              Shadowrun5e-Generic:
                summary: Shadowrun 5E - Generic roll
                description: |
                  Roll `12` Shadowrun 5E d6's, counting number of fives and
                  sixes using `4` as the limit, with text saying the roll is for
                  `perception`.
                value:
                  system: shadowrun5e
                  text: 12 4 perception
              Shadowrun5e-Soak:
                summary: Shadowrun 5E - Soak roll
                description: |
                  Roll the character's "soak" attribute (body + armor +
                  augmentation effects + mentor spirit effects) in d6's and
                  return the number of fives and sixes.
                value:
                  character_id: 64cabf032ad4d330c29bb82a
                  system: shadowrun5e
                  text: soak
            schema:
              properties:
                character_id:
                  description: |
                    ID of the character to roll as, for rolls that use the
                    character's attributes. Even if a roll doesn't require the
                    character_id, including it is encouraged, as the character's
                    campaign may be linked to other services.
                  type: string
                text:
                  description: What kind of roll to make.
                  type: string
                system:
                  description: What RPG system the roll should be for.
                  type: string
              required:
                - text
                - system
              type: object
      responses:
        '200':
          description: |
            The request succeeded (though the *roll* might not have, from the
            character's perspective).
          content:
            application/json:
              examples:
                Shadowrun5e generic:
                  description: |
                    A roll request including a character_id (that resolves to
                    Fastjack), a system (shadowrun5e), and text (12 perception).
                  value:
                    footer: 6 6 5 5 4 4 4 3 2 2 2 2
                    text: Rolled 4 successes for 'perception'
                    title: Fastjack rolled 12 dice
              schema:
                properties:
                  footer:
                    description: Optional extra information about the roll.
                    nullable: true
                    type: string
                  title:
                    description: Headline about the roll.
                    type: string
                  text:
                    description: Full text about the roll's result.
                    type: string
                required:
                  - footer
                  - text
                  - title
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '422':
          description: There were problems with the data sent in the request.
          content:
            application/json:
              examples:
                No character:
                  description: |
                    Many rolls require a character so they know how many dice to
                    roll.
                  value:
                    message: You must include a character_id.
                No system:
                  description: |
                    Most rolls require a system so they know how to hande the
                    text.
                  value:
                    message: You must include the RPG system.
                No text:
                  description: |
                    A request needs to include text to tell the system what kind
                    of roll to make.
                  value:
                    message: You must include the roll's text.
              schema:
                properties:
                  message:
                    type: string
                required:
                  - message
                type: object
      tags:
        - interactivity
  /shadowrun5e/adept-powers:
    get:
      summary: Shadowrun 5E adept powers
      operationId: shadowrun5e-adeptPowers-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eAdeptPower'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E adept powers.
      tags:
        - shadowrun
  /shadowrun5e/ammunitions:
    get:
      summary: Shadowrun 5E ammunition
      operationId: shadowrun5e-ammunition-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eAmmunition'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E ammunition.
      tags:
        - shadowrun
  /shadowrun5e/armor:
    get:
      summary: Shadowrun 5E armor
      operationId: shadowrun5e-armor-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eArmor'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E armor.
      tags:
        - shadowrun
  /shadowrun5e/armor-modifications:
    get:
      summary: Shadowrun 5E armor modifications
      operationId: shadowrun5e-armorModifications-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eArmorModification'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E armor modifications.
      tags:
        - shadowrun
  /shadowrun5e/characters:
    get:
      summary: All Shadowrun 5E characters
      description: Return Shadowrun 5E RPG characters.
      operationId: shadowrun5e-characters-index
      responses:
        '200':
          description: Collection of the user's Shadowrun 5E characters.
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eCharacter'
                    type: array
                required:
                  - data
                type: object
      tags:
        - character
        - shadowrun
  /shadowrun5e/characters/{character_id}:
    parameters:
      - name: character_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Single Shadowrun 5E character
      description: Return a single Shadowrun 5E character.
      operationId: shadowrun5e-characters-view
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Shadowrun5eCharacter'
                required:
                  - data
                type: object
          description: A single Shadowrun 5E character.
      tags:
        - character
        - shadowrun
    patch:
      summary: Update a Shadowrun 5E character
      description: Update a Shadowrun character's condition monitor.
      operationId: shadowrun5e-characters-update
      requestBody:
        description: |
          This is a JSON patch document describing what should happen to the
          character sheet.

          Healing a character is done by setting the appropriate damage track
          to 0.
          ```
          {
            "patch": [
              {"op": "replace", "path": "/damagePhysical", "value": 0}
            ]
          }
          ```

          Damaging a character is done by setting the total damage to a given
          track. If they already had 6 stun, this would give them an additional
          4 boxes of stun.
          ```
          {
            "patch": [
              {"op": "replace", "path": "/damageStun", "value": 10}
            ]
          }
          ```
          Applying more stun damage to a character than their condition monitor
          allows automatically converts to the appropriate amount of additional
          physical damage. Similarly, adding more physical damage than their
          physical monitor allows converts to overflow damage.

          Using edge is similar. If a character starts with 3 edge and uses one,
          set the edgeCurrent field to 2.
          ```
          {
            "patch": [
              {"op": "replace", "path": "/edgeCurrent", "value": 2}
            ]
          }
          ```
        required: true
        content:
          application/json:
            schema:
              properties:
                patch:
                  items:
                    properties:
                      op:
                        description: Type of operation (should be 'replace').
                        type: string
                      path:
                        description: Field to update.
                        enum:
                          - /damagePhysical
                          - /damageStun
                          - /edgeCurrent
                        type: string
                      value:
                        description: New value for the field.
                        type: integer
                    type: object
                  type: array
              type: object
      responses:
        '200':
          description: Character was updated.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Shadowrun5eCharacter'
                required:
                  - data
                type: object
        '400':
          description: There was something wrong with the request.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
      tags:
        - character
        - shadowrun
  /shadowrun5e/characters/{character_id}/contacts:
    parameters:
      - name: character_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Character's contacts
      operationId: shadowrun5e-contacts-index
      responses:
        '200':
          description: Collection of contacts. You are who you know, chummer.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Shadowrun5eContact'
                type: array
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - shadowrun
    post:
      summary: Create a new contact for a character
      operationId: shadowrun5e-contacts-store
      requestBody:
        content:
          application/json:
            schema:
              properties:
                archetype:
                  type: string
                connection:
                  type: integer
                loyalty:
                  type: integer
                gmNotes:
                  type: string
                name:
                  type: string
                notes:
                  type: string
              type: object
      responses:
        '201':
          description: Contact was created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shadowrun5eContact'
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - shadowrun
  /shadowrun5e/complex-forms:
    get:
      summary: Shadowrun 5E complex forms
      operationId: shadowrun5e-complexForms-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eComplexForm'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E complex forms.
      tags:
        - shadowrun
  /shadowrun5e/critters:
    get:
      summary: Shadowrun 5E critters
      operationId: shadowrun5e-critters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eCritter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E critters.
      tags:
        - shadowrun
  /shadowrun5e/critter-powers:
    get:
      summary: Shadowrun 5E critter powers
      operationId: shadowrun5e-critterPowers-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eCritterPower'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E critter powers.
      tags:
        - shadowrun
  /shadowrun5e/critter-weaknesses:
    get:
      summary: Shadowrun 5E critter weaknesses
      operationId: shadowrun5e-critterWeaknesses-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eCritterWeakness'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E critter weaknesses.
      tags:
        - shadowrun
  /shadowrun5e/cyberware:
    get:
      summary: Shadowrun 5E augmentations (cyberware and bioware)
      operationId: shadowrun5e-augmentations-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eAugmentation'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E augmentations.
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
      tags:
        - shadowrun
  /shadowrun5e/gear:
    get:
      summary: Shadowrun 5E gear
      operationId: shadowrun5e-gear-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eGear'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: All Shadowrun 5E gear.
      tags:
        - shadowrun
  /shadowrun5e/gear/{gear_id}:
    parameters:
      - name: gear_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: A Shadowrun 5E gear item
      operationId: shadowrun5e-gear-view
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/Shadowrun5eGear'
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: Single Shadowrun 5E item.
      tags:
        - shadowrun
  /shadowrun5e/gear-modifications:
    get:
      summary: Shadowrun 5E gear modifications
      operationId: shadowrun5e-gearModifications-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eGearModification'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E modifications to install in other gear.
      tags:
        - shadowrun
  /shadowrun5e/grunts:
    get:
      summary: Shadowrun 5E grunts
      operationId: shadowrun5e-grunts-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eGrunt'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E grunts.
      tags:
        - shadowrun
  /shadowrun5e/intrustion-countermeasures:
    get:
      summary: Shadowrun 5E ICE
      operationId: shadowrun5e-intrusionCountermeasures-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eIntrusionCountermeasure'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E intrusion countermeasures.
      tags:
        - shadowrun
  /shadowrun5e/lifestyle-options:
    get:
      summary: Shadowrun 5E lifestyle options
      operationId: shadowrun5e-lifestyle-options-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eLifestyleOption'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E lifestyle options.
      tags:
        - shadowrun
  /shadowrun5e/lifestyle-zones:
    get:
      summary: Shadowrun 5E lifestyle zones
      operationId: shadowrun5e-lifestyle-zones-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eLifestyleZone'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E lifestyle zones.
      tags:
        - shadowrun
  /shadowrun5e/lifestyles:
    get:
      summary: Shadowrun 5E lifestyles
      operationId: shadowrun5e-lifestyles-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eLifestyle'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E lifestyles.
      tags:
        - shadowrun
  /shadowrun5e/martial-arts-styles:
    get:
      summary: Shadowrun 5E martial arts styles
      operationId: shadowrun5e-martial-arts-styles-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eMartialArtsStyle'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E martial arts styles.
      tags:
        - shadowrun
  /shadowrun5e/martial-arts-techniques:
    get:
      summary: Shadowrun 5E martial arts technique
      operationId: shadowrun5e-martial-arts-techniques-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eMartialArtsTechnique'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E martial arts techniques.
      tags:
        - shadowrun
  /shadowrun5e/mentor-spirits:
    get:
      summary: Shadowrun 5E mentor spirits
      operationId: shadowrun5e-mentor-spirits-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eMentorSpirit'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E mentor spirits.
      tags:
        - shadowrun
  /shadowrun5e/metamagics:
    get:
      summary: Shadowrun 5E metamagics
      operationId: shadowrun5e-metamagics-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eMetamagic'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E metamagics.
      tags:
        - shadowrun
  /shadowrun5e/programs:
    get:
      summary: Shadowrun 5E matrix programs
      operationId: shadowrun5e-programs-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eProgram'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E matrix programs.
      tags:
        - shadowrun
  /shadowrun5e/qualities:
    get:
      summary: Shadowrun 5E character qualities
      operationId: shadowrun5e-qualities-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eQuality'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E qualities.
      tags:
        - shadowrun
  /shadowrun5e/resonance-echoes:
    get:
      summary: Shadowrun 5E resonance echoes
      operationId: shadowrun5e-resonance-echoes-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eResonanceEcho'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of all Shadowrun 5E resonance echoes.
        '401':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - shadowrun
  /shadowrun5e/rulebooks:
    get:
      summary: Shadowrun 5E rulebooks
      operationId: shadowrun5e-rulebooks-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Rulebook'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                type: object
          description: All Shadowrun 5E rulebooks.
      tags:
        - shadowrun
  /shadowrun5e/skill-groups:
    get:
      summary: Shadowrun 5E skill groups
      operationId: shadowrun5e-skill-groups-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eSkillGroup'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E skill groups.
      tags:
        - shadowrun
  /shadowrun5e/skills:
    get:
      summary: Shadowrun 5E skills
      operationId: shadowrun5e-skills-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eSkill'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E skills.
      tags:
        - shadowrun
  /shadowrun5e/spells:
    get:
      summary: Shadowrun 5E spells
      operationId: shadowrun5e-spells-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eSpell'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E spells.
      tags:
        - shadowrun
  /shadowrun5e/spirits:
    get:
      summary: Shadowrun 5E spirits
      operationId: shadowrun5e-spirits-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eSpirit'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E spirits.
      tags:
        - shadowrun
  /shadowrun5e/sprites:
    get:
      summary: Shadowrun 5E sprites
      operationId: shadowrun5e-sprites-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eSprite'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E sprites.
      tags:
        - shadowrun
  /shadowrun5e/traditions:
    get:
      summary: Shadowrun 5E magical traditions
      operationId: shadowrun5e-traditions-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eTradition'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E traditions.
      tags:
        - shadowrun
  /shadowrun5e/vehicle-modifications:
    get:
      summary: Shadowrun 5E vehicle modifications
      operationId: shadowrun5e-vehicle-modifications-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eVehicleModification'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E vehicle modifications.
      tags:
        - shadowrun
  /shadowrun5e/vehicles:
    get:
      summary: Shadowrun 5E vehicles
      operationId: shadowrun5e-vehicles-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eVehicle'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E vehicles.
      tags:
        - shadowrun
  /shadowrun5e/weapon-modifications:
    get:
      summary: Shadowrun 5E weapon modifications
      operationId: shadowrun5e-weapon-modifications-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eWeaponModification'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E weapon modifications.
      tags:
        - shadowrun
  /shadowrun5e/weapons:
    get:
      summary: Shadowrun 5E weapons
      operationId: shadowrun5e-weapons-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/Shadowrun5eWeapon'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Shadowrun 5E weapons.
      tags:
        - shadowrun
  /startrekadventures/characters:
    get:
      summary: Star Trek Adventures RPG characters
      operationId: startrekadventures-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/StartrekadventuresCharacter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of the user's Star Trek Adventures characters.
      tags:
        - startrekadventures
  /subversion/backgrounds:
    get:
      summary: Subversion backgrounds
      operationId: subversion-backgrounds-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionBackground'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion backgrounds.
      tags:
        - subversion
  /subversion/castes:
    get:
      summary: Subversion castes
      operationId: subversion-castes-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionCaste'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion castes.
      tags:
        - subversion
  /subversion/characters:
    get:
      summary: Subversion characters
      operationId: subversion-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionCharacter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion characters.
      tags:
        - subversion
  /subversion/gear:
    get:
      summary: Subversion gear
      operationId: subversion-gear-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionGear'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion gear.
      tags:
        - subversion
  /subversion/ideologies:
    get:
      summary: Subversion ideologies
      operationId: subversion-ideologies-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionIdeology'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion ideologies.
      tags:
        - subversion
  /subversion/impulses:
    get:
      summary: Subversion impulses
      operationId: subversion-impulses-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionImpulse'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion impulses.
      tags:
        - subversion
  /subversion/languages:
    get:
      summary: Subversion languages
      operationId: subversion-languages-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionLanguage'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion languages.
      tags:
        - subversion
  /subversion/lineages:
    get:
      summary: Subversion lineages
      operationId: subversion-lineages-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionLineage'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion lineages.
      tags:
        - subversion
  /subversion/origins:
    get:
      summary: Subversion origins
      operationId: subversion-origins-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionOrigin'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion origins.
      tags:
        - subversion
  /subversion/skills:
    get:
      summary: Subversion skills
      operationId: subversion-skills-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/SubversionSkill'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of Subversion skills.
      tags:
        - subversion
  /transformers/characters:
    get:
      summary: Transformers RPG characters
      operationId: transformers-characters-index
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/TransformersCharacter'
                    type: array
                  links:
                    $ref: '#/components/schemas/Links'
                required:
                  - data
                  - links
                type: object
          description: Collection of the user's Transformer characters.
      tags:
        - transformers
  /users:
    get:
      summary: All users
      operationId: users-index
      responses:
        '200':
          description: Collection of all users in the system.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
      tags:
        - user
  /users/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
    get:
      summary: Get a user
      operationId: users-show
      responses:
        '200':
          description: Return a single user.
          content:
            application/json:
              schema:
                properties:
                  data:
                    $ref: '#/components/schemas/User'
                required:
                  - data
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - user
  /users/{user_id}/token:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
    post:
      summary: Create a new API token
      operationId: users-createToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                expires_at:
                  description: Optional expiration date for the token.
                  format: date
                  type: string
                name:
                  type: string
              required:
                - name
              type: object
      responses:
        '201':
          description: Token was created.
          content:
            application/json:
              schema:
                properties:
                  id:
                    type: integer
                  expires_at:
                    format: date
                    nullable: true
                    type: string
                  last_used:
                    format: date
                    nullable: true
                    type: string
                  name:
                    type: string
                  plainText:
                    type: string
                type: object
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '422':
          $ref: '#/components/responses/ErrorUnprocessableContent'
      tags:
        - user
  /users/{user_id}/token/{token_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: integer
      - name: token_id
        in: path
        required: true
        schema:
          type: integer
    delete:
      summary: Delete a user's API token
      operationId: users-deleteToken
      responses:
        '204':
          description: Token was deleted
        '401':
          $ref: '#/components/responses/ErrorUnauthenticated'
        '403':
          $ref: '#/components/responses/ErrorForbidden'
        '404':
          $ref: '#/components/responses/ErrorNotFound'
      tags:
        - user
  /varz:
    get:
      summary: Statistics about the system
      operationId: varz-index
      responses:
        '200':
          description: |
            Statistics showing the active systems, along with the number of
            objects contained within.
          content:
            application/json:
              schema:
                properties:
                  campaigns-total:
                    description: Number of campaigns registered.
                    type: integer
                  channels:
                    properties:
                      discord:
                        description: Number of Discord channels registered.
                        type: integer
                      slack:
                        description: Number of Slack channels registered.
                        type: integer
                    type: object
                  characters-total:
                    description: Number of characters across all RPG systems.
                    type: integer
                  systems:
                    description: |
                      Results contain information about each system supported in
                      Commlink. The administrators may disable a system, so it's
                      not guaranteed to appear.
                    properties:
                      capers:
                        properties:
                          name:
                            description: Full name of the system.
                            type: string
                          data:
                            properties:
                              campaigns:
                                type: integer
                              player-characters:
                                type: integer
                              gear:
                                type: integer
                              identities:
                                type: integer
                              perks:
                                type: integer
                              powers:
                                type: integer
                              skills:
                                type: integer
                              vices:
                                type: integer
                              virtues:
                                type: integer
                            type: object
                        type: object
                    type: object
                  users:
                    description: Number of users in the system.
                    type: integer
                type: object
      tags:
        - meta

components:
  responses:
    ErrorBadRequest:
      description: The request had one or more problems.
      content:
        application/json+problem:
          schema:
            properties:
              detail:
                type: string
              instance:
                type: string
              status:
                type: integer
              title:
                type: string
              type:
                format: uri
                type: string
            type: object
          example:
            type: https://commlink.digitaldarkness.com/about/conflict
            title: Bad Request
            status: 400
            detail: The request has an error.
            instance: /event/123
    ErrorConflict:
      description: The object has changed from the expected state.
      content:
        application/json+problem:
          schema:
            properties:
              detail:
                type: string
              instance:
                type: string
              status:
                type: integer
              title:
                type: string
              type:
                format: uri
                type: string
            type: object
          example:
            type: https://commlink.digitaldarkness.com/about/conflict
            title: Conflict
            status: 409
            detail: The object you're trying to update has been changed.
            instance: /event/123
    ErrorForbidden:
      description: |
        The request included authentication but it is not valid for the
        requested object.
      content:
        application/json:
          example:
            message: 'Forbidden'
          schema:
            properties:
              message:
                type: string
            required:
              - message
            type: object
    ErrorNotFound:
      description: The requested object was not found.
      content:
        application/json:
          schema:
            properties:
              message:
                type: string
            required:
              - message
            type: object
    ErrorUnauthenticated:
      description: The request requires authentication.
      content:
        application/json:
          schema:
            example:
              message: 'Unauthenticated'
            properties:
              message:
                type: string
            required:
              - message
            type: object
    ErrorUnprocessableContent:
      description: The request had validation errors with one or more fields.
      content:
        application/json:
          schema:
            properties:
              message:
                type: string
              errors:
                description: |
                  Collection of field names and the errors they contain.
                type: object
            type: object
  schemas:
    AvatarCharacter:
      example:
        name: 'Aang'
        appearance: 'Blue arrow tattoo on his bald head.'
        background: 'Wilderness'
        creativity: null
        fatigue: null
[...]
